<form [formGroup]="datesForm" (ngSubmit)="onSubmit()" (change)="onDatesFormChange()">
    <input type="date" name="date"formControlName="dateStart">
    <i>{{ dateStartDatesValidatorText }}</i>
    <input type="date" name="date"formControlName="dateEnd">
    <button type="submit" [disabled]="!datesForm.valid">Submit</button>
</form>

<p>
    Form Status: {{ datesForm.status }}
</p>

<p>
    {{ dateStartDatesValidator | json }}
</p>